body {
	font-family: 'Open Sans';
}

.brand {
	font-family: inherit;
	font-weight: bold;
	color: #000;
	text-rendering: optimizelegibility;
}

.cuerpo1 {
	font-family: 'Open Sans';
	font-size: 48px;
}

.cuerpo2 {
	font-family: 'Open Sans';
	font-size: 36px;
}

.cuerpo3 {
	font-family: 'Open Sans';
	font-size: 30px;
}

.cuerpo4 {
	font-family: 'Open Sans';
	font-size: 18px;
}

.cuerpo5 {
	font-family: 'Open Sans';
	font-size: 15px;
}

.cuerpo7 {
	font-family: 'Open Sans';
	font-size: 10px;
}

.ejemplo {
	font-size: 0.9em;
	padding-left: 3em;
}


.footer {
	color: #000;
	clear: both;
	font-size: 0.8em;
	text-align: center;
	padding: 1em;
	min-height: 1em;
}

.footer a {
	color: #08C;
}