<%@ page import="com.librodeestilo.Master"%>
<%@ page import="com.librodeestilo.Libro"%>
<!doctype html>
<html>
    <head>
        <g:set var="entityName"
        value="${message(code: 'libro.label', default: 'Libro')}" />
        <title>Libro de estilo: Ficha</title>
    </head>
    <body>

        <g:each var="p" in="${props}">
            ${p.id}
            </g:each>
    </body>
</html>
