<!doctype html>
<html>
	<head>
		<meta name="layout" content="bootstrap"/>
		<title>Libro de estilo</title>
		<r:require modules="bootstrap"/>
	</head>

	<body>
		<div class="row-fluid">

			<section id="main" class="span9">

				<div class="hero-unit">
					<h1>Libro de estilo</h1>

<p>Con la introducción correspondiente</p>

<g:link controller="master" action="v">Master</g:link><br/>
<g:link controller="libro" action="html" id="1">Primer libro</g:link>

				</div>
					
				<div class="row-fluid">
					
					<div class="span4">
					Span 4
					</div>

					<div class="span4">
Span 4
					</div>
					
					<div class="span4">

Span 4
					</div>

				</div>

			</section>
		</div>
		
	</body>
</html>
