
<%@ page import="com.librodeestilo.Epigrafe" %>
<!doctype html>
<html>
	<head>
		<meta name="layout" content="bootstrap">
		<g:set var="entityName" value="${message(code: 'epigrafe.label', default: 'Epigrafe')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<div class="row-fluid">
			
			<div class="span3">
				<div class="well">
					<ul class="nav nav-list">
						<li class="nav-header">${entityName}</li>
						<li>
							<g:link class="list" action="list">
								<i class="icon-list"></i>
								<g:message code="default.list.label" args="[entityName]" />
							</g:link>
						</li>
						<li>
							<g:link class="create" action="create">
								<i class="icon-plus"></i>
								<g:message code="default.create.label" args="[entityName]" />
							</g:link>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="span9">
				
				<g:if test="${flash.message}">
				<bootstrap:alert class="alert-info">${flash.message}</bootstrap:alert>
				</g:if>
				
				<div class="page-header">
					<h1>
					 <g:fieldValue bean="${epigrafeInstance}" field="titulo"/> </h1> 
					(<g:link controller="master" action="show" id="${epigrafeInstance?.master?.id}">${epigrafeInstance?.master?.encodeAsHTML()}</g:link>)
				</div>

<g:fieldValue bean="${epigrafeInstance}" field="orden"/>
<g:fieldValue bean="${epigrafeInstance}" field="keyword"/>

				<h2>Descripción</h2>
				<markdown:renderHtml text="${epigrafeInstance.descripcion}"/>
				
					<g:if test="${epigrafeInstance?.propuestas}">

				<h2>Propuestas</h2>


				<ol>
										
							<g:each in="${epigrafeInstance.propuestas}" var="r">
								<li>${r?.encodeAsHTML()} <g:link controller="propuesta" action="show" id="${r.id}">(ver)</g:link></dd>
							</g:each>
						
				
				</ol>
					</g:if>

				<g:form>
					<g:hiddenField name="id" value="${epigrafeInstance?.id}" />
					<div class="form-actions">
						<g:link class="btn" action="edit" id="${epigrafeInstance?.id}">
							<i class="icon-pencil"></i>
							<g:message code="default.button.edit.label" default="Edit" />
						</g:link>
						<button class="btn btn-danger" type="submit" name="_action_delete">
							<i class="icon-trash icon-white"></i>
							<g:message code="default.button.delete.label" default="Delete" />
						</button>
					</div>
				</g:form>

			</div>

		</div>
	</body>
</html>
