<!--
  To change this license header, choose License Headers in Project Properties.
  To change this template file, choose Tools | Templates
  and open the template in the editor.
-->

<%@ page contentType="text/html;charset=UTF-8" %>

<html>
    <head>
        <meta name="layout" content="lde-pdf">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Sample title</title>
    </head>
    <body>
        <div style="margin:auto">
            <img class="centered" src="${resource(dir: 'images', file: 'lde-gris-100x94.png')}" alt="Libro de estilo"/>
            <div class="lde-powered">
                En colaboración con
            </div>
            <div class="lde-powered-neg">
                www.librodeestilo.com
            </div>

        </div>
    </body>
</html>
