
/* 
    Created on : 07-oct-2015, 8:39:31
    Author     : Juan Peces <f@contexto.net>
*/

@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

html { font-size: 62.5%; } 

body
{
    font-family: 	Merriweather, Serif;
    font-size:		1.3em;
}


/* ENLACES __________________*/

a
{
    color:  #000;
}

a:link
{
    border-bottom:  1px solid #ed1c24;
    padding-bottom: 5px;
    text-decoration:none;
}

a:visited
{
    border-bottom: 	1px solid #ed1c24;
    padding-bottom: 	5px;
    text-decoration: 	none;
}


a:hover
{
    border-bottom: 	5px solid #ed1c24;
    padding-bottom: 	5px;
    text-decoration: 	none;
}




/* NAVEGACIÓN _________________*/

.nav
{
    font-family: 	Roboto, Futura, Arial, Sans-Serif;
    font-size:		1.1rem;
    text-transform:	uppercase;
    margin:             0px 0px 0px 50px;
}

a.brand:link
{
    text-decoration:	none;
    border-bottom: none;
}

.navbar .brand{
    padding-bottom: 0px;
}

.container-fluid
{
    border-bottom: 2px solid #000;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0px;
}

.navbar .nav > li {
    width: 15rem;
}

.navbar .nav > li > a:link, a.nav:visited
{
    text-decoration:	none;
    border-bottom: none;
}

.navbar .nav > li > a {
    float: none;
    padding: 45px 0px 0px 50px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

.navbar .subnav > li > a {
    float: none;
    padding: 15px 0px 0px 50px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

.navbar .nav > li > a:hover
{
    font-weight:	bold;
    border-bottom:	5px solid #ed1c24;
    margin-bottom:	3px;
    text-decoration:	none;
}

.brand > img{
    height: 50px;
}

.user {
    color: #ed1c24 !important;
}

/* CABECERA __________________*/

.cab
{
    font-size:		5rem;
    text-align:		center;
    letter-spacing:	-0.05rem;
    transform: 	scale(1, 0.95);
    padding: 3rem;
    border-bottom: 1px solid #ed1c24;
}

/* TITULARES __________________*/

h1
{
    font-size:      3.6rem;
    font-weight:    700;
    text-align:     center;
    transform:      scale(1, 0.95);
}

h2
{
    font-size:      3.6rem;
    font-weight:    300;
    text-align:     center;
    line-height:    130%;
}

h3
{
    font-size:      2.1rem;
    font-weight:    300;
    text-align:     left;
    transform:      scale(1, 0.95);
    line-height:    140%;
}


.headline {
    border-bottom:  2px solid grey;
}

.info{
    padding:        1rem;
}


/* ELEMENTOS LIBRO DE ESTILO ___________*/

.num
{
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size: 		12rem;
    text-align:		center;
    padding:            4rem;
}

.sec
{
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size:		2.1rem;
    font-weight:	bold;
    text-align:		left;
    margin-top:         1.7rem;
    margin-bottom:      1.7rem;
    padding-top:        3rem;
}

.epi
{
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size:		2.1rem;
    font-weight:	normal;
    text-align:		left;
    text-indent:        1rem;
    line-height:	150%;
}

.epi-neg
{
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size:		2.1rem;
    font-weight:	Bold;
    text-align:		left;
    line-height:	150%;
    padding-top:        3rem;
}

p {
    font-size:          1.6rem;
    text-align:         left;
    font-weight:        300;
    line-height:        150%;
}

p.first {
    margin-top: 4rem;
}

/* FORMULARIO _____________*/

.propuestas {
    list-style: outside none none;
}

.propuestas > li {
    text-indent:        -1.5rem;
    font-size:          1.6rem;
    text-align:         left;
    font-weight:        300;
    line-height:        150%;
    margin-top:         1rem;
    margin-bottom:      1rem;
}

.form
{
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size:		1.2rem;
    font-weight:	normal;
    text-align:         left;
    line-height:	150%;
    text-transform:     uppercase;
}

.form-boton-enviar
{
    background-color:	#ed1c24;
}

.form-boton-anadir
{
    background-color:	rgb(96,96,96);
}

.form-boton-texto
{
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size:		1.2rem;
    font-weight:	normal;
    text-align:		center;
    line-height:	150%;
}

.btn{
    border-radius:      0px;
    background-color:   #ed1c24;
    color:              white;
    background-image:   none;
    text-transform:     uppercase;
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size:		1.2rem;
    font-weight:	normal;
    text-align:		center;
    line-height:	150%;

}

a.btn.btn-block:link {
    border-bottom: none;
}

.s2ui_hidden_button{
    display: none;
}

/* EDICIÓN DE LIBRO __________________*/

.fecha
{
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size:		1.2rem;
    text-align:		left;
    line-height:	140%;
}

.verlibro
{
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size:		1.2rem;
    font-weight:	bold;
    text-align:		left;
    line-height:	140%;
}


// PLANTILLA DEL LIBRO DE ESTILO GENERADO //

.cab-lde
{
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size:		6rem;
    font-weight:	lighter;
    text-align:		center;
}

.lde-url
{
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size:		1.3rem;
    font-weight:	lighter;
    text-align:		center;
}


.lde-h1
{
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size:		3rem;
    font-weight:	lighter;
    text-align:		center;
    padding-top:        5rem;
    padding-bottom:     2rem;
    border-bottom:      1px solid #000;
}

.lde-p
{
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size:		1.2rem;
    text-align:		left;
    line-height:	150%;
}

.lde-powered
{
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size:		1rem;
    font-weight:        lighter;
    text-align:		center;
    text-transform:     uppercase;

}

.lde-powered-neg
{
    font-family:	Roboto, Helvetica, Arial, sans-serif;
    font-size:		1rem;
    font-weight:        normal;
    text-align:		center;
    text-transform:     uppercase;
}

/* FOOTER */

.footer{
    border-top:         1px solid #000;
    margin:             1rem;
    padding:            1rem;
}

.opciones > li{
    list-style:         outside none none;
    float:              left;
    padding-left:       0.5rem;
}

.opciones > li > a {
    border-bottom:      none;
}

img.centered {
    display:            block;
    margin-left:        auto;
    margin-right:       auto 
}